body {
    font-family: Roboto,
        sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

h1, h2, h3, h4, p {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
}

.styled-link {
    text-decoration: none;
}

.styled-list {
    list-style-type: none;
}

.container {
    max-width: 100%;
    padding-left: 15px; 
    padding-right: 15px; 
    margin-left: auto; 
    margin-right: auto;
    width: 1158px;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

/* -----------basic styles end ----------- */

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.site-logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
}

.header-nav-list {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.header-logo-span {
    color: #2e2f42;
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
}

.nav-list-item:first-child .nav-link {
    color: #404bbf;
}

.nav-list-item:first-child .nav-link::after {
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
    margin-top: 20px;
    position: absolute;
    left: 0;
    bottom: -1px;
}

.nav-list-item:not(:first-child) .nav-link:hover,
.nav-list-item:not(:first-child) .nav-link:focus {
    color: #404bbf;
}

.header-address-list {
    font-style: normal;
    display: flex;
    gap: 40px;
}

.address-list-link {
    font-size: 16px;        
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list-link:hover,
.address-list-link:focus {
    color: #404bbf;
}

/* -----------Section 1 styles------------- */

.hero-section {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
    url(../images/hero-bg-image/people-office.jpg);
    background-color: #2e2f42;
    padding: 188px 0;
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: auto;
}


.hero-header {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
    margin: 0 auto 48px auto;
}

.hero-button {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color:#ffffff;
    background-color: #4D5AE5;
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    display: block;
    margin: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
}

/* -------Section 2 styles ---------------*/

.description-header {
    text-align: center;
    margin-bottom: 8px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.description-item-image {
    background-color: #F4F4FD;
    border: 1px solid #8E8F99;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0 24px 0;
    border-radius: 4px;
    height: 112px;
    margin-bottom: 8px;
}

.description-list {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.description-list-item {
    width: calc((100% - (24px * 3)) / 4);
}

.description-item-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.description-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* ----------Section 3 styles------------------ */

.team-section {
    background-color: #F4F4FD;
}

.team-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.team-list-item {
    background-color: #FFFFFF;
    width: calc((100% - (24px * 3)) / 4);
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-member-info {
    padding-top: 32px;
    padding-bottom: 32px;
}

.team-member-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-member-spec {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin-bottom: 8px;
}

.team-member-networks-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-member-network-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.network-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-member-network-link:hover,
.team-member-network-link:focus {
    background-color: #404bbf;
}

.team-member-network-link:hover .network-icon,
.team-member-network-link:focus .network-icon {
    fill: #F4F4FD;
}

/* --------Section 4 styles------------- */

.portfolio-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    row-gap: 48px;
    column-gap: 24px;
}

.portfolio-list-item {
    width: calc((100% - (24px * 2)) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-img-wrapper {
    position: relative;
    overflow: hidden;
}

.portfolio-item-image {
    max-width: 100%;
}

.portfolio-img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    height: 100%;
    padding: 40px 32px;
    background-color: #4D5AE5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover .portfolio-img-overlay,
.portfolio-list-item:focus .portfolio-img-overlay {
    transform: translateY(0%);
}

.portfolio-item-info {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-item-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-item-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* ----------Footer styles---------------- */

.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer-logo-span {
    color: #F4F4FD;
}

.footer-link {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-description {
    width: 264px;
    margin-right: 120px;
}

.footer-description-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;

}

.studio-networks {
    width: 208px;
    margin-right: 80px;
}

.studio-networks-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.studio-networks-header {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}


.studio-network {
    width: 40px;
    height: 40px;
}

.studio-network-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.studio-network-link:hover,
.studio-network-link:focus {
    background-color: #31d0aa;
}

.studio-network-icon {
    fill: #F4F4FD;
}

.footer-form-container {
    /* display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 80px; */
}

.footer-form-header {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: #fff;
    margin-bottom: 16px;
}

.footer-form {
    display: flex;
    gap: 24px;
}

.footer-form-input {
    background-color: #2e2f42;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: left;
    color: #fff;
    width: 264px;
    height: 40px;
    padding-left: 16px;
    border: 1px solid #fff;
    border-radius: 4px;
    background-color: transparent;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.footer-form-input::placeholder {
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    text-align: left;
    color: #fff;
}

.footer-form-btn-wrp {
    position: relative;
}

.footer-form-btn {
    padding: 8px 24px;
    border-radius: 4px;
    background-color: #4d5ae5;
    min-width: 165px;
    height: 40px;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-form-btn-img {
    margin-left: 16px;
}


/* --------backdrop styles start ----------------*/

.backdrop {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(46, 47, 66, 0.40);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}


.modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 408px;
    min-height: 584px;
    transform: translateY(-50%) translateX(-50%);
    filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.14)) drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.12)) drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.20));
    border-radius: 4px;
    background-color: #fcfcfc;
    padding: 72px 24px 24px 24px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    padding: 0;
    border: 1px solid #0000001A;
    border-radius: 50%;
    background-color: #E7E9FC;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window-close-btn-img {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #2e2f42;
}

.modal-window-close-btn:hover .modal-window-close-btn-img,
.modal-window-close-btn:focus .modal-window-close-btn-img {
    fill: #fff;
}

.modal-window-close-btn:hover,
.modal-window-close-btn:focus {
    background-color: #404bbf;
    border: none;
}

.modal-window-header {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.modal-window-form-item {
    margin-bottom: 8px;
}

.modal-input-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
    display: block;
}

.modal-window-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    border-radius: 4px;
    padding-left: 38px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window-input:focus {
    border-color: #4d5ae5;
    outline: transparent;
}

.modal-window-input:focus+.modal-window-input-img {
    fill: #4d5ae5;
}

.modal-input-wrp {
    position: relative;
}

.modal-window-input-img {
    position: absolute;
    top: 50%;
    left: 16px;
    fill: rgba(46, 47, 66, 1);
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment-wrp {
    margin-bottom: 16px;
}

.modal-comment-textarea {
    height: 120px;
    padding: 8px 16px;
    resize: none;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    text-align: left;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
}

.modal-comment-textarea::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    text-align: left;
    color: #2E2F4266;
}

.modal-window-footer {
    display: flex;
    margin-bottom: 24px;
}

.styled-checkbox {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: transparent;
}

.styled-checkbox-img {
    fill: transparent;
}

.privacy-checkbox:checked+.modal-input-label>.styled-checkbox {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.privacy-checkbox:checked+.modal-input-label>.styled-checkbox>.styled-checkbox-img {
    fill: #F4F4FD;
}

/* .privacy-checkbox:focus+.modal-input-label>.styled-checkbox {
    border: 1px solid #4d5ae5;
} */

.privacy-policy-link {
    text-decoration: underline;
    color: #4d5ae5;
}

.modal-form-submit {
    display: block;
    margin: auto;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    background-color: #4d5ae5;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* --------backdrop styles finish ----------------*/