.backdrop {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(46, 47, 66, 0.40);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}


.modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    min-height: 584px;
    transform: translateY(-50%) translateX(-50%);
    filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.14)) drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.12)) drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.20));
    border-radius: 4px;
    background-color: #fcfcfc;
    padding: 72px 24px 24px 24px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    padding: 0;
    border: 1px solid #0000001A;
    border-radius: 50%;
    background-color: #E7E9FC;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window-close-btn-img {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #2e2f42;
}

.modal-window-close-btn:hover .modal-window-close-btn-img,
.modal-window-close-btn:focus .modal-window-close-btn-img {
    fill: #fff;
}

.modal-window-close-btn:hover,
.modal-window-close-btn:focus {
    background-color: #404bbf;
    border: none;
}

.modal-window-header {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.modal-window-form-item {
    margin-bottom: 8px;
}

.modal-input-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
    display: block;
}

.modal-window-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    border-radius: 4px;
    padding-left: 38px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window-input:focus {
    border-color: #4d5ae5;
    outline: transparent;
}

.modal-window-input:focus+.modal-window-input-img {
    fill: #4d5ae5;
}

.modal-input-wrp {
    position: relative;
}

.modal-window-input-img {
    position: absolute;
    top: 50%;
    left: 16px;
    fill: rgba(46, 47, 66, 1);
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment-wrp {
    margin-bottom: 16px;
}

.modal-comment-textarea {
    height: 120px;
    padding: 8px 16px;
    resize: none;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    text-align: left;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
}

.modal-comment-textarea::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    text-align: left;
    color: #2E2F4266;
}

.modal-window-footer {
    display: flex;
    margin-bottom: 24px;
}

.styled-checkbox {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: transparent;
}

.styled-checkbox-img {
    fill: transparent;
}

.privacy-checkbox:checked+.modal-input-label>.styled-checkbox {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.privacy-checkbox:checked+.modal-input-label>.styled-checkbox>.styled-checkbox-img {
    fill: #F4F4FD;
}

/* .privacy-checkbox:focus+.modal-input-label>.styled-checkbox {
    border: 1px solid #4d5ae5;
} */

.privacy-policy-link {
    text-decoration: underline;
    color: #4d5ae5;
}

.modal-form-submit {
    display: block;
    margin: auto;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    background-color: #4d5ae5;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 320px) and (max-width: 767px) {
    .modal-window {
        width: 288px;
        padding: 72px 16px 24px 16px;
    }

    .privacy-label {
        display: flex;
        align-items: center;
    }

    .styled-checkbox {
        flex-shrink: 0;
    }
}

@media (min-width: 768px) and (max-width: 1157px) {
    .modal-window {
        width: 408px;
        padding: 72px 24px 24px 24px;
    }
} 
