@media (min-width: 320px) and (max-width: 767px) {
    .container {
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media (min-width: 768px) and (max-width: 1157px) {
    .container {
        width: 768px;
        margin: auto;
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media (min-width: 1158px) {
    .container {
        width: 1158px;
        margin: auto;
        padding-left: 15px;
        padding-right: 15px;
    }
}