@media (min-width: 320px) and (max-width: 767px) {
    .description-section-container {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .description-item-image {
        display: none;
    }

    .description-list {
        display: flex;
        flex-direction: column;
        gap: 72px;
    }

    .description-item-header {
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 8px;
    }

    .description-item-text {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: left;
        color: #434455;
    }
}


@media (min-width: 768px) and (max-width: 1157px) {
    .description-section-container {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .description-item-image {
        display: none;
    }

    .description-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
    }

    .description-list-item {
        width: calc((100% - 24px) / 2);
    }

    .description-item-header {
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: left;
        color: #2e2f42;
        margin-bottom: 8px;
    }
    
    .description-item-text {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: left;
        color: #434455;
    }
}


@media (min-width: 1158px) {
    .description-section-container {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .description-item-image {
        display: block;
        margin-bottom: 8px;
    }

    .description-item-image {
        background-color: #F4F4FD;
        border: 1px solid #8E8F99;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 24px 0 24px 0;
        border-radius: 4px;
        height: 112px;
        margin-bottom: 8px;
    }
    
    .description-list {
        display: flex;
        justify-content: space-between;
        gap: 24px;
    }
    
    .description-list-item {
        width: calc((100% - (24px * 3)) / 4);
    }
    
    .description-item-header {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        text-align: left;
        margin-bottom: 8px;
    }
    
    .description-item-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        text-align: left;
    }
}
/* .description-header {
    text-align: center;
    margin-bottom: 8px;
}



.description-item-image {
    background-color: #F4F4FD;
    border: 1px solid #8E8F99;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0 24px 0;
    border-radius: 4px;
    height: 112px;
    margin-bottom: 8px;
}

.description-list {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.description-list-item {
    width: calc((100% - (24px * 3)) / 4);
}

.description-item-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.description-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
} */