.hero-section {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: auto;
}

.hero-button {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4D5AE5;
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    display: block;
    margin: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
}

@media (min-width: 320px) and (max-width: 767px) {
    .hero-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../../images/hero-bg-image/hero-section-bg-image-mobile.jpg);
        padding-top: 72px;
        padding-bottom: 72px;
    }
    
    .hero-header {
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        width: 200px;
        text-align: center;
        color: #fff;
        margin: auto;
        margin-bottom: 72px;
        text-transform: capitalize;
    }
}

@media screen and (min-resolution: 192dpi) and (min-width: 320px) and (max-width: 767px),
    screen and (min-resolution: 2dppx) and (min-width: 320px) and (max-width: 767px),
    screen and (min-device-pixel-ratio: 2) and (min-width: 320px) and (max-width: 767px) {
        .hero-section {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../../images/hero-bg-image/hero-section-bg-image-mobile@2x.jpg);
        }
}

@media screen and (min-width: 768px) {
    .hero-header {
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 0.02em;
        width: 496px;
        text-align: center;
        color: #fff;
        margin: auto;
        text-transform: capitalize;
    }
}

@media (min-width: 768px) and (max-width: 1157px) {
    .hero-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../../images/hero-bg-image/hero-section-bg-image-tablet.jpg);
        padding-top: 112px;
        padding-bottom: 112px;
    }

    .hero-header {
        margin-bottom: 36px;
    }
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1157px),
screen and (min-resolution: 2dppx) and (min-width: 768px) and (max-width: 1157px),
screen and (min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1157px) {
    .hero-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../../images/hero-bg-image/hero-section-bg-image-tablet@2x.jpg);
    }
}


@media (min-width: 1158px) {
    .hero-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../../images/hero-bg-image/hero-section-bg-image-desktop.jpg);
        padding-top: 188px;
        padding-bottom: 188px;
    }

    .hero-header {
        margin-bottom: 48px;
    }
}

@media screen and (min-resolution: 192dpi) and (min-width: 1158px),
screen and (min-resolution: 2dppx) and (min-width: 1158px),
screen and (min-device-pixel-ratio: 2) and (min-width: 1158px) {
    .hero-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../../images/hero-bg-image/hero-section-bg-image-desktop@2x.jpg);
    }
}

